input[type="checkbox"] {
  -webkit-appearance: none;  /*清除复选框默认样式*/
  background: #fff url(i/blue.png);   /*复选框的背景图，就是上图*/
  height: 22px;   /*高度*/
  vertical-align: middle;
  width: 22px;
}

input[type="checkbox"]:checked {
  background-position: -48px 0;
}
